* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #333333;
  color: white;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
background-color: #1a1a1a;
color: white;
}

header h2 {
font-size: 26px;
margin: 0;
padding: 0;
text-align: center
}

header nav {
display: flex;
white-space: nowrap;
}

header nav a {
color: white;
text-decoration: none;
margin-right: 20px;
}

header nav a:hover {
text-decoration: underline;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #1A1A1A;
  color: #fff;
}

.container {
  border-radius: 15px;
  background-color: #2e2e2e;
  padding: 20px;
  width: 700px;
  margin: 5px;
  text-align: left;
  position: left;
  box-shadow: 0px 5px 10px #505050;
  cursor: pointer;
  pointer-events: auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}